@use "./abstract/variables.scss" as *;
@import "./components/";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  color: $text-primary-color;
  background-color: $secondary-color;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  cursor: pointer;
  background-color: #6e707a;
  color: $text-primary-color;

  &.round {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;

    &.actived {
      background-color: $text-primary-color;
      color: #110e3c;
    }

    &.unactived {
      background-color: #585676;
      color: $text-primary-color;
    }
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 42px 6% 0px 6%;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 12px;
  }
}

.footer {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #a09fb1;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex: 1;
  flex-wrap: wrap;
  gap: 4px;

  span {
    font-weight: 700;
  }
}
